* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("../images/background.png");
<<<<<<< HEAD
  background-size: cover;
=======
>>>>>>> 9e9db0709015f68810c0addd18a12a040c1c646e
}